# Python
.venv/
__pycache__/
.pytest_cache/
*.pyc

# Generated artifacts
generated/
.gradle/
build/
.build/
**/build/
**/.build/

#IntelliJ IDEA
.idea/

# Local environment secrets
.env
.env.local
.env.*.local
